* {margin: 0px; padding: 0px;border: none;outline: none;box-sizing: border-box;}

/* Fonts */

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/SourceSansPro-Regular.otf')  format('opentype'),
       url('../fonts/SourceSansPro-Regular.woff') format('woff'), url('../fonts/SourceSansPro-Regular.ttf')  format('truetype'), url('../fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro-Semibold';
  src: url('../fonts/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SourceSansPro-Semibold.otf')  format('opentype'),
       url('../fonts/SourceSansPro-Semibold.woff') format('woff'), url('../fonts/SourceSansPro-Semibold.ttf')  format('truetype'), url('../fonts/SourceSansPro-Semibold.svg#SourceSansPro-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* General */

body, #bodyContent {font-family: 'SourceSansPro-Regular';background: #fff;color: #414141;}
ul li{list-style: none !important;}
a {text-decoration: none !important;color: #414141;} 
a, a:hover, a:active, a:focus {color: #414141; outline: 0 !important;transition: all .5s ease-in-out !important;-webkit-transition: all .5s ease-in-out !important;-moz-transition: all .5s ease-in-out !important;}
img {transition: all .5s ease-in-out !important;-webkit-transition: all .5s ease-in-out !important;-moz-transition: all .5s ease-in-out !important;}
.container {width: 1280px !important;}
.bold {font-weight: 900;}
.clear {clear: both;}
.upper {text-transform: uppercase;}
.border-left {border-left: 1px solid #d9d9d9;}
.mt-54 {margin-top: 54px;}
.mt-20 {margin-top: 20px;}
.mt-0 {margin-top: 0px !important;}
.mb-100 {margin-bottom: 100px !important;}

/* Required */

.hidden{
  opacity: 0;
}

.visible{
  opacity: 1 !important;
}

.more {text-transform: uppercase;color: #fff;font-size: 14px;background-color: #414141;padding: 8px 20px; display: inline-block;position: relative;}
.send-more {text-transform: uppercase;color: #fff;font-size: 14px;background-color: #414141;padding: 8px 20px; display: inline-block;position: relative;}
/* Shine effect */

.shineEffect {position: relative;overflow: hidden;min-width: 50px; min-height: 50px;display: inline-block;}
.shineEffect:hover:after {opacity: 1;top: -30%;left: -30%;transition-property: left, top, opacity;transition-duration: 1.2s, 1.2s, 0.6s;transition-timing-function: ease-in-out;}
.shineEffect:after { content: "";position: absolute;top: -160%;left: -210%;width: 200%;height: 200%;opacity: 0;transform: rotate(30deg);background: rgba(255, 255, 255, 0.13);background: linear-gradient( to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100% );}

/*-----------------*/
/***** Hera *****/
/*-----------------*/

figure.effect-hera {
  position: relative;
}

figure.effect-hera p {
  position: absolute;
  top: 50%;
  left: 66%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
}

figure.effect-hera figcaption::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 145px;
  height: 145px;
  border: 2px solid #fff;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
}

figure.effect-hera p {
  width: 100px;
  text-transform: none;
  font-size: 121%;
  line-height: 2;
}

figure.effect-hera p a {
  color: #fff;
}

figure.effect-hera p a:hover,
figure.effect-hera p a:focus {
  opacity: 0.6;
}

figure.effect-hera p a i {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  font-size: 35px;
}

figure.effect-hera p a:first-child i {
  -webkit-transform: translate3d(-60px,-60px,0);
  transform: translate3d(-60px,-60px,0);
}

figure.effect-hera p a:nth-child(2) i {
  -webkit-transform: translate3d(60px,-60px,0);
  transform: translate3d(60px,-60px,0);
}

figure.effect-hera p a:nth-child(3) i {
  -webkit-transform: translate3d(-60px,60px,0);
  transform: translate3d(-60px,60px,0);
}

figure.effect-hera p a:nth-child(4) i {
  -webkit-transform: translate3d(60px,60px,0);
  transform: translate3d(60px,60px,0);
}

figure.effect-hera:hover figcaption::before {
  opacity: 1;
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);
}

figure.effect-hera:hover h2 {
  opacity: 0;
  -webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
  transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
}

/*figure.effect-hera:hover img {    transform: scale(1.08);border:7px solid #414141;}*/

figure.effect-hera:hover p i:empty {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0); /* just because it's stronger than nth-child */
  opacity: 1;
}



/* Hover */

.hvr-bounce-to-right {display: inline-block;vertical-align: middle;-webkit-transform: perspective(1px) translateZ(0);transform: perspective(1px) translateZ(0);box-shadow: 0 0 1px transparent;position: relative;-webkit-transition-property: color;transition-property: color;-webkit-transition-duration: 0.5s;transition-duration: 0.5s;}
.hvr-bounce-to-right:before {content: "";position: absolute;z-index: -1;top: 0;left: 0;right: 0;bottom: 0;background: #ffbb10;-webkit-transform: scaleX(0);transform: scaleX(0);-webkit-transform-origin: 0 50%;transform-origin: 0 50%;-webkit-transition-property: transform;transition-property: transform;-webkit-transition-duration: 0.5s;transition-duration: 0.5s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {color: white;}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {-webkit-transform: scaleX(1);transform: scaleX(1);-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);}

.hvr-bounce-to-right2 {display: inline-block;vertical-align: middle;-webkit-transform: perspective(1px) translateZ(0);transform: perspective(1px) translateZ(0);box-shadow: 0 0 1px transparent;position: relative;-webkit-transition-property: color;transition-property: color;-webkit-transition-duration: 0.5s;transition-duration: 0.5s;}
.hvr-bounce-to-right2:before {content: "";position: absolute;z-index: -1;top: 0;left: 0;right: 0;bottom: 0;background: #fff;-webkit-transform: scaleX(0);transform: scaleX(0);-webkit-transform-origin: 0 50%;transform-origin: 0 50%;-webkit-transition-property: transform;transition-property: transform;-webkit-transition-duration: 0.5s;transition-duration: 0.5s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.hvr-bounce-to-right2:hover, .hvr-bounce-to-right2:focus, .hvr-bounce-to-right2:active {color: #414141;}
.hvr-bounce-to-right2:hover:before, .hvr-bounce-to-right2:focus:before, .hvr-bounce-to-right2:active:before {-webkit-transform: scaleX(1);transform: scaleX(1);-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);}
/* Header */

#header .top-header {position: relative;display: block;width: 100%;height: 42px;border-bottom: 1px solid #d9d9d9;}
#header .top-content {position: relative;max-width: 366px; width: 100%;display: block;}
#header .site {max-width: 150px;width: 100%;border-right: 1px solid #d9d9d9;position: relative;display: inline-block;height: 42px;line-height: 38px;}
#header .lang {position: relative;max-width: 215px;width: 100%;display: inline-block;height: 42px;line-height: 39px;}
#header .site a, #header .lang p {color: #414141;font-family: 'SourceSansPro-Semibold';font-size: 15px;}
#header .site a {text-align: center;margin:auto;display: block;position: relative;}
#header .lang p {padding-left: 25px; }
#header .site a:hover {color:#09428f;}
#header .lang-submenu {visibility: hidden;position: relative;}
#header .lang-menu .has-sub-lang:hover .lang-submenu {visibility: visible !important;transition: all .5s ease !important;-webkit-transition: all .5s ease !important;-moz-transition: all .5s ease !important;}
#header .lang-menu .lang-submenu {background-color: #fff;width: 75px;height: 40px;position: relative; display: block;top: -4px;right: 13px;z-index: 9999;}
#header .lang-menu li {padding-left: 15px;}
#header .lang-menu {position: relative;display: inline-block;}
#header .lang-menu li {position: relative;}
#header .lang-menu li a img {transition: none !important}
#header .lang-menu li a {position: relative;display: inline-block;transition: all .2s ease !important;-webkit-transition: all .2s ease !important;-moz-transition: all .2s ease !important;}
.lang-select {position: absolute;width: 10px;height: 10px;background-image: url(../images/select.png);background-repeat: no-repeat;background-position: 50% 50%;top: 16px; right: -25px;}
#header .lang-menu .has-sub-lang .lang-title {position: relative;top: 2px; left: 8px;}

#header .bottom-header {position: relative; display: block;min-height: 178px;width: 100%;}
#header .brand {position: relative;display: inline-block;max-width: 415px; width: 100%;}
#header .header-info {position: relative;display: inline-block;max-width: 677px;width: 100%;}
#header .brand img {height: auto;width: 100%;padding-top: 54px;}
/*#header .brand:hover img {opacity: 0.8;transform: scale(1.01);cursor: pointer;}*/
#header .info-text {padding-left: 14px;}
#header .header-info > div {height: 54px; padding-top: 3px;}
#header .hinfo-title {font-family:'SourceSansPro-Semibold'; font-size: 15px; margin-bottom: 0px; }
#header .header-phone {font-size: 23px;font-family:'SourceSansPro-Semibold'; transition: all .5s ease-in-out !important;-webkit-transition: all .5s ease-in-out !important;-moz-transition: all .5s ease-in-out !important;}
#header .header-phone a:hover {color:#09428f;}

#header .navigation {position: relative;display: block;width: 100%;height: 65px;background-color: #09428f;}
#header .navigation ul li a {color: #fff;text-transform: uppercase;font-family: 'SourceSansPro-Semibold';font-size: 20px;}
#header .navigation ul li {position: relative; display: inline-block;float: left;padding: 20px 25px;height: 65px;transition: all .3s ease-in-out !important;-webkit-transition: all .3s ease-in-out !important;-moz-transition: all .3s ease-in-out !important;}
#header .navigation ul {margin-bottom: 0px;}
#header .navigation ul li.active {background-color: #ffbb10;}
#header .navigation ul li:hover  { background-color: #ffbb10;background-position: center 14px; padding: 16px 25px;}
/*#header .navigation ul li.active:hover a { color: #fff;}*/

/* Padajuci meni */

#header .main-menu li .submenu-main {position: absolute;visibility: hidden; opacity: 0;transform: translateY(-2em); transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;width: 212px;background-color:  #09428f;top: 65px;left: 0; z-index: 999999999;}
#header .main-menu .submenu-main li { width: 100%; height: 55px !important;  transition: all .5s ease-in-out;position: relative;display: inline-block; margin-right: 0px !important;}
#header .main-menu .submenu-main li a { float: none;color: #fff;padding:0px;text-decoration: none;display: block;text-align: left;font-size: 15px;font-family: 'SourceSansPro-Semibold';text-transform: none !important;}
#header .main-menu .submenu-main li a:hover {color: #fff !important; transition: all .6s ease-in-out;}
#header .main-menu .has-sub:hover .submenu-main, #header .main-menu .has-sub:hover .lvl2 {visibility: visible !important;opacity: 1;transform: translateY(0%);transition-delay: 0s, 0s, 0.3s;}

/* Slider section*/

#slider {position: relative; display: block;height: 510px;width: 100%;background-color: #f3f3f3;}
#main-slider {position: relative;left: 0;right: 0;height: 545px;width: 100%;overflow: hidden;}
#main-slider img {position: relative;left: 0;bottom: 0;}
#slider .caption { transform: skewX(-25deg);-ms-transform: skewX(-25deg);-webkit-transform: skewX(-25deg);max-width: 700px;width: 100%;z-index: 9999; height: 115px;background-color: rgba(9,66,143,0.9);position: relative;display: inline-block;margin-left: -27px;}
#slider .item {position: relative; width: 100%;height: 545px;}
#slider .caption h1 {transform: skewX(25deg);-ms-transform: skewX(25deg);-webkit-transform: skewX(25deg);color: #fff;font-size: 66px;font-family: 'SourceSansPro-Semibold';padding-left: 65px;}
#slider .caption h1:before {content: ''; height: 52px;width: 7px;background-color: #ffbb10;display: inline-block;position: relative;left: -9px;top: 4px;}
#slider .anim-cap {overflow: hidden; transform: skewX(25deg);-ms-transform: skewX(25deg);-webkit-transform: skewX(25deg);max-width: 700px;width: 100%;height: 115px; z-index: 9999;position: absolute; bottom: 75px; display: inline-block;}
/* About-us section*/

#about-us {position: relative; display: block;height: 412px;}
#about-us .about-title {max-width: 516px; width: 100%;position: relative; display: block; border-right: 8px solid #ffbb10;border-left: 8px solid #ffbb10;margin:95px auto 48px auto;}
#about-us .about-title h1 {font-size: 30px; font-family:'SourceSansPro-Semibold' }
#about-us .about-info p {font-size: 15px;}

/* Why Demag section */

#why {position: relative;display: block;min-height: 345px;width: 100%;background-color: #ffbb10;z-index: 1;}
#why .why-left, #why .why-right {float: left;width: 50%;position: relative;display: inline-block;}
#why .why-right {background-color: #ffbb10;}
#why .why-left {left: -85px; overflow: hidden;transform: skewX(-25deg);-ms-transform: skewX(-25deg);-webkit-transform: skewX(-25deg);}
#why .why-left .why-img {margin-left: 85px; max-width: 990px;width: 100%; height: auto; transform: skewX(25deg);-ms-transform: skewX(25deg);-webkit-transform: skewX(25deg);}
#why .why-right h1 {margin-left: 30px; margin-top: 30px; font-size: 36px;font-family:'SourceSansPro-Semibold';margin-bottom: 18px;}
#why .round-number {text-align: center; width: 65px;height: 65px;border: 5px solid #fff; border-radius: 50%;float: left;display: inline-block;font-size: 35px;}
#why .why-info {z-index: 99999; padding-top: 7px; float: left;position: relative;display: inline-block;max-width: 445px; width: 100%;margin-left: 25px;}
#why .why-info p {color: #fff;font-size: 18px;font-family:'SourceSansPro-Semibold';}
#why .one-why {position: relative;display: inline-block;min-height: 65px;max-width: 538px; width: 100%;margin-bottom: 8px;margin-left: 30px;}

/* Newssection */

#news{position: relative;display: block;min-height: 640px;width: 100%;}
#news .news-title {position: relative;display: block;margin-top: 40px;width: 100%;min-height: 100px;}
#news .news-title h1 {font-size: 45px; font-family:'SourceSansPro-Semibold';}
#news .news-title p {font-size: 15px; font-family: 'SourceSansPro-Regular';}
#news .news-content {position: relative; display: block;width: 100%;height: auto;margin-top: 86px;min-height: 350px;margin-bottom: 86px;}
#news .item-image {overflow: hidden; width: 160px;height: 160px; border: 7px solid #ffbb10;-webkit-transition: 0.5s;    cursor: pointer;    position: relative;}
#news .item-image img {width: 100%;height: auto;}
#news .item-title {font-family:'SourceSansPro-Semibold';font-size: 17px;padding-bottom: 3px;margin-top: 10px;}
#news .item-title a:hover {color: #ffbb10;}
#news .item-text {font-size: 15px;font-family: 'SourceSansPro-Regular';margin-top: 5px;}
#news p {margin: 0px;}
#news .more {margin-top: 12px;}
#news .date {font-size: 14px;font-family: 'SourceSansPro-Regular';}
#news .news-content .row {margin-bottom: 40px;}
#news .news-content .row:last-child {margin-bottom: 45px;}
.ln-19 {line-height: 19px;}
.pr-0 {padding-right: 0px !important;}
.pl-0 {padding-left: 0px !important}
#news .item-image:hover {border: 7px solid #fff;-webkit-transition: 0.5s;}
#news .item-image:hover img {transition: all .5s ease-in-out !important;-webkit-transition: all .5s ease-in-out !important;-moz-transition: all .5s ease-in-out !important;transform: scale(1.1);}
.item-image::before, .item-image::after {width: 100%;height:100%;z-index: 9999;content:'';position: absolute;top:0;left:0;box-sizing: border-box;-webkit-transform: scale(0);transition: 0.5s;}
.bor-eff::before {border-bottom: 7px solid #414141;border-left: 7px solid #414141;-webkit-transform-origin: 0 100%;}
.bor-eff::after {border-top: 7px solid #414141;border-right: 7px solid #414141;-webkit-transform-origin: 100% 0%;}
.item-image:hover::after, .item-image:hover::before {-webkit-transform: scale(1) !important;}

/* Order section */

#orders {position: relative;display: block;min-height: 260px;max-width: 1980px; width: 100%;background: url(../images/bg3.jpg)  no-repeat center center;}
/*#orders .order-img {position: absolute;top: 0;right: 0;z-index: 1;display: inline-block;max-width: 975px;width: 100%;}*/
/*#orders:before {content: ''; min-height: 260px;width: 100%; background-color: rgba(255,187,16,0.8);display: block;position: absolute;top: 0;left: 0;z-index: 1}
*/
#orders .order-info {position: relative;display: inline-block;max-width: 670px; width: 100%;height: auto;z-index: 9999;}
#orders .order-info h1 {color: #fff;font-size: 40px; text-transform: uppercase;font-family: 'SourceSansPro-Semibold';padding-top: 24px;}
#orders .order-info a {margin-top: 6px;}
#orders .order-info p {font-size: 15px;font-family: 'SourceSansPro-Semibold';}
/* Footer */

#footer {overflow: hidden; position: relative; display: block;width: 100%;background-color: #07397d;width: 100%;height: 450px; border-bottom: 5px solid #ffbb10;}
#footer .footer-left {position: relative;display: inline-block;width: 40%;height: 450px; float: left;}
#footer .footer-right {overflow: hidden; position: relative;display: inline-block;width: 60%;height: 450px;float: left;z-index: 20;}
#footer #map {width: 100%;height: 450px;display: block;position: relative;}
#footer .container-custom {    z-index: 15; position: absolute;display: block;overflow: hidden;bottom: 25px; left: 0;right: 0;margin-left: auto;margin-right: auto;width: 1280px;margin: 0 auto;padding: 0px 15px;}
#footer .company-info p, #footer .company-info a {color: #fff;font-size: 18px;font-family: 'SourceSansPro-Regular';}
#footer .company-info {position: relative;display: inline-block;max-width: 400px;width: 100%;}
#footer .ft-logo {max-width: 235px;width: 100%;display: inline-block;margin-bottom: 30px;}
#footer .ft-logo img {width: 100%;height: auto;}
#footer .ft-mail {margin-bottom: 60px;display: inline-block;position: relative;}
#footer .law {margin-bottom: 25px;}
#footer .ft-site {text-decoration: underline !important;}
#footer .ft-site:hover, #footer .ft-mail:hover {color: #ffbb10;}

/* Unutrasnja strana */

#feature {position: relative;display: block;width: 100%;height: 152px;background-color: #f3f3f3;z-index: 1;}
#feature .feature-img {position: relative;display: block;height: 172px;max-width: 1980px; width: 100%;background: url(../images/feature1.jpg)  no-repeat center center;z-index: 9999;}
#feature .caption-feat {margin-left: -16px; transform: skewX(-25deg);-ms-transform: skewX(-25deg);-webkit-transform: skewX(-25deg);max-width: 415px;width: 100%;z-index: 9999; height: 70px;background-color: rgba(9,66,143,0.9);position: relative;display: inline-block;}
#feature .caption-feat h1 {position: relative; display: block;bottom: 6px; transform: skewX(25deg);-ms-transform: skewX(25deg);-webkit-transform: skewX(25deg);color: #fff;font-size: 30px;font-family: 'SourceSansPro-Semibold';padding-left: 43px;}
#feature .caption-feat h1:before {content: ''; height: 34px;width: 9px;background-color: #ffbb10;display: inline-block;position: relative;left: -9px;top: 4px;}
#feature .feat-anim { margin-top: 58px; transform: skewX(25deg);-ms-transform: skewX(25deg);-webkit-transform: skewX(25deg); height: 70px; max-width: 415px;width: 100%;z-index: 9999;position: relative;display: inline-block;overflow: hidden;}

/* Secion All product */

#allproduct {position: relative;display: block;min-height: 2000px;width: 100%;}

#allproduct {background-color: #fff;min-height: 1314px;width: 100%;position: relative;display: block; color: #5c5c5c;}
#allproduct h1 {font-family: 'SourceSansPro-Semibold'; font-size: 25px;}
.allproducts-title h1:before {content: '';height: 55px;width: 7px;background-color: #ffbb10;position: absolute;left: -14px;bottom: -7px;}
.cat-list {position: relative;display: inline-block;float: left;height: auto;max-width: 277px;width: 100%; margin-right: 65px;}
.all-products {position: relative;height: auto;float: left;max-width: 733px;width:100%;padding-bottom: 45px;}
#allproduct .allproducts-title {border-bottom: 1px solid #d5d5d5;width: 100%;display: block;position: relative;padding: 38px 0px 0px 0px;}
.cat-list .list-title {border-bottom: 1px solid #d5d5d5;width: 100%;display: block;position: relative;padding: 38px 0px 0px 0px;}
#allproduct h1 a:hover {opacity: 0.5;}
.cat-list .list-menu li a { transition: all 0.3s ease-in-out; font-family: 'SourceSansPro-Regular';font-size: 18px;text-transform: uppercase;text-align: left;}
.cat-list .list-menu .side li a {font-size: 15px;text-transform: none !important;}
.cat-list .list-menu .side li  {border-bottom: 1px solid transparent !important;}
.cat-list .list-menu .side {border-top: 1px solid #d5d5d5 !important;margin-top: 7px;}
.cat-list .list-menu li {padding: 8px 0px;border-bottom: 1px solid #d5d5d5;}
.cat-list .list-menu li a:hover {color: #ffc526 !important;transition:all .3s ease-in-out;}
.cat-list .list-menu ul li ul li {margin-left: 45px;}
.cat-list .list-menu {display: block;position: relative;}
.active-cat {border-top: 5px solid #ffc526 !important; }
.side li ul {position: relative;margin-top: 10px;}
.cat-list .list-menu .side li ul a {text-transform: none !important;}
.cat-list .list-menu ul li .sub-menu li:nth-child(1){margin-bottom: 5px;}
.cat-list .list-menu ul li ul li a {color: #424546; font-size: 15px;font-family: 'SourceSansPro-Regular';}
.active-side1, .active-side2 {font-weight: 900;}
.active-side1 {position: relative;padding-left: 15px !important;width: 100%;transition: all .5s ease-in-out !important;-webkit-transition: all .5s ease-in-out !important;-moz-transition: all .5s ease-in-out !important;}
.active-side1:before {content: '';height: 30px;width: 7px;background-color: #ffbb10;position: absolute;left: 0px;top: -4px;}
.cat-list .list-menu ul li ul li .active {color:#ffc526 !important;}
.side {display: none;}
.side .loaded {display: block !important;}
#allproduct .oneproduct-info {font-size: 15px;font-family: 'SourceSansPro-Regular';margin-bottom: 28px;}
#allproduct .oneproduct-info p:first-child {padding-bottom: 22px;}
#allproduct .oneproduct-info h1 {font-family: 'SourceSansPro-Semibold';font-size: 20px;margin-top: 30px;}
#allproduct .oneproduct-info-list {font-size: 15px;font-family: 'SourceSansPro-Regular';position: relative;display: block;padding-top: 20px;}
#allproduct .oneproduct-info-list p:first-child {padding-bottom: 22px;}
#allproduct .oneproduct-info-list a:hover h1 {color: #ffbb10;}
#allproduct .oneproduct-info-list h1 {transition: all .3s ease-in-out !important;-webkit-transition: all .3s ease-in-out !important;-moz-transition: all .3s ease-in-out !important;font-family: 'SourceSansPro-Semibold';font-size: 20px;margin-top: 30px;}
#allproduct .item-image-list {overflow: hidden; width: 207px;height: 207px; border: 7px solid #ffbb10;-webkit-transition: 0.5s;    cursor: pointer;    position: relative;}
#allproduct .item-image-list img {width: 100%;height: auto;}
#allproduct .item-image-list:hover {border: 7px solid #fff;-webkit-transition: 0.5s;}
#allproduct .item-image-list:hover img {transition: all .5s ease-in-out !important;-webkit-transition: all .5s ease-in-out !important;-moz-transition: all .5s ease-in-out !important;transform: scale(1.1);}
.item-image-list::before, .item-image-list::after {width: 100%;height:100%;z-index: 9999;content:'';position: absolute;top:0;left:0;box-sizing: border-box;-webkit-transform: scale(0);transition: 0.5s;}
.item-image-list:hover::after, .item-image-list:hover::before {-webkit-transform: scale(1) !important;}
.mb-25 {margin-bottom: 25px;}
.pl-0 {padding-left: 0px !important;}


/* Slider Gallery */

.gallery-slider{position: relative;display: block;min-height: 225px;width: 100%;margin-top: 30px;margin-bottom: 145px;}
/*.gallery-item {display: inline-block;position: relative;max-width: 200px;width: 100%;min-height: 200px;}*/
.one-gall{width: 207px;height: 207px;position: relative;display: inline-block;margin-right: 5px; border: 7px solid #ffbb10; }
.one-gall img {width: 100%;height: auto;}
.one-gall:hover img {transform: scale(1.07);}
.one-gall:hover {background-color: rgba(65, 65, 65, 0.5);}